extends layout

block content
  h1= title
  p Welcome to #{title}
  p Knight of the month for March was awarded to Brother Javier Martinez
  p Family of the month for March was awarded to Dr. Gill and Bonnie LaVoy
  p Read the latest newsletter&nbsp;
    a(href="/newsletters/apr2017.pdf") here
