extends layout

block content
  h1= title
  p Welcome to #{title}
  section.memberDues
    h2 Pay your membership dues through PayPal:
    include duesButton.html
  figure.ofTheMonth
    img(src="images/knightOfTheMonth.jpg")
    figcaption
      p= knightOfTheMonth
  figure.ofTheMonth
    img(src="images/familyOfTheMonth.jpg")
    figcaption
      p= familyOfTheMonth
  p Read the latest newsletter&nbsp;
    a(href="/newsletters/feb2018.pdf") here
