doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      nav.container
        a(href="/")
          img(src="/images/kofclogo.png")
        ul
          li 
            a(href="/") Home
          li
            a(href="/officers") Officers
          li
            a(href="/photos") Photos
          li
            a(href="/upcomingEvents") Upcoming Events
          li
            a(href="/join") Join
    main.container
      block content
    footer
      p &copy; Knights of Columbus 2018
