extends layout

block content
  h1= title
  .pictures
    each officer in officers
      figure
        img(src="images/officers/#{officer.picture}")
        figcaption
          p= officer.title
          p= officer.name
