extends layout

block content
  h1= title
  h2 March 2017
  p Building a Handicap Ramp - working with the Center for Independent Living eleven Brother Knights built a handicap ramp on Mar 11, 2017 for retired Marine Veteran Michael Terry and his wife Sharon
