extends layout

block content
  h1= title
  h2 June 2017
  ul
    li Sun, Jun 25th – Pancake Breakfast (Social Hall)
  h2 July 2017
  ul
    li Thurs, Jul 13th – Business meeting (East Wing) – 7:00pm
    li Sun, Jul 23rd – Pancake Breakfast (Social Hall)
