extends layout

block content
  h1= title
  h2 April 2017
  ul
    li Wed, Apr 12th – 1st Degree (Monsignor Bishop, 5727  Cornelia Ave.) – 7:30 pm  
    li Fri, Apr 14th – Good Friday
    li Sun, Apr 16th – Easter Sunday
    li Sun, Apr 23rd – Pancake Breakfast & Homemade Baked  Goods (Social Hall) – recipient  Covenant House
    li Thurs, Apr 27th – Social – 7:00pm (Subject - TBD)
    li Sun, Apr 29th – Florida Puerto Rican Parade (Orange Ave. & Concord St.) – 11:00 am 
    li Sun, Apr 30th – 5th Sunday Rosary (Chapel)
  h2 May 2017
  ul
    li Wed, May 10th – 2nd Degree (Monsignor Bishop, 5727  Cornelia Ave.) – 7:30 pm
    li Thurs, May 11th – Business meeting/Election of Officers  (East Wing) – 7:00 pm
    li Sun, May 14th – Mother’s Day & Hand-out Baby Bottles  for JMJ Pregnancy Center
    li Sat, May 20th  – Annual Planning Meeting (Social Hall) – 9:00 am – 11 am
    li Fri, May 26th – Ordination Dinner (more to follow)
    li Sat, May 27th – Ordination Breakfast (more to follow)
    li Sun, May 28th – Pancake Breakfast & Homemade Baked  Goods (Social Hall)
  h2 June 2017
  ul
    li Sat, Jun 3rd – Citizens with Disabilities Campaign, Publix  2873 S. Orange Ave., Orlando (8:30 am – 6:00 pm)
    li Sun, Jun 4th – Citizens with Disabilities Campaign, Publix  2873 S. Orange Ave., Orlando (Noon – 6:00 pm)
    li Mon, Jun 5th – Feeding the Homeless (816 W. Central  Blvd) – 11:30am – 12:45 pm
    li Thurs, Jun 8th – Business meeting (East Wing) – 7:00pm
    li Sat, Jun 10th – 1st Degree (St. James) – 8:30am
    li Sat, Jun 10th – 3rd Degree (Holy Family, 5125 S. Apopka Vineland Rd.) – 12:15 pm
    li Thurs, Jun 22nd – Officer Induction Ceremony (Social Hall) –  6:00 pm – 8:00 pm (Tentative)
