extends layout

block content
  h1= title
  h2 June 2017
  ul
    li Sun, Jun 25th – Pancake Breakfast (Social Hall)
  h2 July 2017
  ul
    li Thurs, Jul 13th – Business meeting (East Wing) – 7:00pm
    li Sun, Jul 23rd – Pancake Breakfast (Social Hall)
  h2 August 2017
  ul
    li Mon, Aug 7th – Feeding the Homeless (816 W. Central Blvd) – 11:30am – 12:45 pm
    li Thurs, Aug 10th – Business meeting (East Wing) – 7:00pm
    li Sat, Aug 12th – 1st Degree (St. James) – 8:30am
    li Sun, Aug 27th – Pancake Breakfast (Social Hall)
