extends layout

block content
  h1= title
  h2 February 2018
  ul
    li Thurs, Feb 1st – 2nd Degree (St. Francis of Assisi – 834 SOBT, Apopka) – 6 pm
    li Sat, Feb 3rd – Church Membership Drive – after 4 pm mass
    li Sun, Feb 4th – Church Membership Drive – after all 5 masses
    li Mon, Feb 5th – Feeding the Homeless (816 W. Central Blvd) 11:30 am – 12:45 pm
    li Thurs, Feb 8th – Business Meeting (East Wing) – 7 pm
    li Sat, Feb 10th – 1st Degree (St. James) – 8:30 am
    li Sat, Feb 10th – 3rd Degree (St. Mary of the Lakes, 218 Ocklawaha  Ave, Eustis, FL 32726) – 11 am
    li Sat, Feb 10th – Matthew Kelly Event – (Assumption Catholic Church, 2403 Atlantic Blvd, Jacksonville, FL) – 6 to 10 pm Are you thriving or just surviving? Do you want more energy?  A deeper sense of purpose?  Join us for Living Every Day with Passion & Purpose - $39 per
    li Sun, Feb 11th – Donut Duty (East Wing) – Sunday masses
    li Wed, Feb 14th – Ash Wednesday
    li Wed, Feb 14th – 40 Days for Life starts (All Women’s Health Center – 431 Maitland Ave., Altamonte Springs)
    li Sat, Feb 17th – Rise Up Catholic Men’s Conference (Holy Family, 5125 S. Apopka Vineland Rd) –8:30 am – 2 pm
    li Wed, Feb 21st - Free Throw Contest (Sun Ridge MS) –3 pm
    li Thurs, Feb 22nd – Social – Human Trafficking by Deacon David Gray (Social Hall) – 7 pm
    li Fri, Feb 23rd – Fish Fry (St. James School) – more to follow
    li Sun, Feb 25th – Pancake Breakfast & Homemade Baked Goods (Social Hall) – Proceeds to Laps for Life 
  h2 March 2018
  ul
    li Sat, Mar 3rd – St. James School 10th Annual Dinner & Auction (505 E. Ridgewood Street, Orlando) – 6 to 10 pm
    li Thurs, Mar 8th – Rosary – 6:15 pm; Officer Meeting – 6:40 pm; Business Meeting (East Wing) – 7 pm
    li Sat, Mar 10th – Laps for Life (Bishop Moore HS) – 8 am to 2 pm
    li Wed, Mar 14th – 1st Degree (Monsignor Bishop, 5727 Cornelia Ave, Orlando) – 7:30 pm
    li Fri, Mar 16th – Fish Fry (St. James School) – more to follow
    li Sat, Mar 17th – St. Patrick’s Day Dinner (Social Hall) – 6 pm
    li Thurs, Mar 22nd – Founder’s Day Mass (Chapel) – 6:30 pm, Social following mass (Social Hall)
    li Sun, Mar 25th – Palm Sunday
    li Sun, Mar 25th – Pancake Breakfast & Homemade BakedGoods (Social Hall)
    li Fri, Mar 30th – Good Friday
  h2 April 2018
  ul
    li Sun, Apr 1st – Easter
    li Mon, Apr 2nd – Feeding the Homeless (816 W. Central Blvd)11:30 am – 12:45 pm
    li Thurs, Apr 5th – 2nd Degree (St. Francis of Assisi – 834 SOBT, Apopka) – 6 pm
    li Sun, Apr 8th – Donut Duty (East Wing) – Sunday masses
    li Thurs, Apr 12th – Officer Meeting – 6:40 pm; Business Meeting (East Wing) – 7 pm
    li Sat, Apr 14th – 1st Degree (St. James) – 8:30 am
    li Sun, Apr 22nd – Pancake Breakfast & Homemade Baked Goods (Social Hall)
    li Thurs, Apr 26th – Social – Shroud of Turin by Dr. Gil Lavoie (Social Hall) – 7 pm

